<!--IN PROCESS --> 
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<title>ProductList</title>
</head>
<body class="bg-warning">
    <div class="container">
		<div class="col-md-4 text-center">
			
		</div>
	
		<div class="col-md-4" style="padding:40px 0"></div>
        </div>
			<table class="table table-striped">
			<thead>
			
			</thead>
			<tbody>
			
			</tbody>
		</table>
        
	</div>
</body>
</html>